

// ---------------------------------------------QUERIES

//Mobile

=normal
  @media only screen and (min-device-width : 320px) and (min-device-height : 550px)
    @content

=large
  @media only screen and (min-device-width : 350px) and (min-device-height : 630px)
    @content

=larger
  @media only screen and (min-device-width : 370px) and (min-device-height : 700px)
    @content

=tablet
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
    @content

=bigger
  @media only screen and (min-device-width : 1080px) and (min-device-height : 1920px)
    @content

=tabletL
  @media only screen and (orientation: landscape) and (min-device-width : 768px)
    @content


// desktop

=laptop
  @media only screen and (min-width: 835px)
    @content

=mobileL
  @media only screen and (orientation: landscape) and (max-device-width : 667px)
    @content

@import './typeography'


@mixin align-flex
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap


ul
  list-style: none


// Buttons

$warning: red
$main: white

.warning 
  color: $warning
  border: .1rem solid $warning
  background-color: transparent  

.main 
  color: $main
  border: .05rem solid $main 
  background-color: transparent
  // border-radius: 1vh
  height: 30%
  margin: 2% 0

$gb: rgba(125, 159, 83, 1)

.btn_yes
  background-color: #43A047
  // color: black
  border: none
  padding: 6% 2%
  

.btn_no
  background-color: #d32f2f
  // color: black
  border: none
  padding: 6% 2%
  
  

  
.half
  width: 47%

.full
  width: 98%
 
.mat-btn
  color: #F1F8E9
  background: rgba(139, 195, 74, .6)
  cursor: pointer
  overflow: hidden
  text-align: center
  box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.15)
  text-shadow: none
  transition: all .3s ease-out
  border-radius: 50%
  transition: all 0.3s ease




// Animation

.fade-transition
  transition: all .5 ease

.fade-enter .fade-leave
  opacity: 0     
    

.ani-speed-1
  animation-duration: 0.2s

.ani-speed-2
  animation-duration: 0.4s

.ani-speed-3
  animation-duration: 0.6s

.ani-speed-4
  animation-duration: 0.8s

.ani-speed-5
  animation-duration: 1.0s



.tray-enter, .tray-leave-to
    opacity: 0

.tray-leave, .tray-enter-to
  opacity: 1

.tray-enter-active, .tray-leave-active
  transition: opacity 300ms




.delete
  border-color: red
  color: red


.vMainModal
  .modal-container
    height: 90vh


    input
      margin: 8% 2% 2% 2%

    .submit 
      font-size: 3rem
      color: green 
      border-color: green


    span
      font-size: 1.4rem
      width: 80% 

      color: red

    .wrap
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center
      height: 100%
      width: 100%

      form
        display: flex
        flex-wrap: wrap
        justify-content: center

        input
          &::placeholder
            font-size: 2rem
            text-align: right
            margin: 0 2% 2% 0
            color: #0B1727

      h3
        width: 80vw
        font-size: 120%
        text-align: center

      h5
        text-align: center

      button
        width: 40vw
        height: 8vh
        font-size: 2rem
        margin: 1rem .3rem
        // margin: 2%
        background-color: transparent
        border: .1rem solid white
        color: white
        // margin: 0 20%
