
@import '../../node_modules/modularscale-sass/stylesheets/_modularscale.scss'

$modularscale: (base: 1em, ratio: 1.3)

body, html
	text-align: center
  font-size: 16px

	p, td, li
		font-size: ms(0)
	h1
		font-size: ms(1)
	h2
		font-size: ms(0)
	h3
		font-size: ms(-1)

+large
	body, html
		text-align: center
		font-size: 18px

		p, td, li
			font-size: ms(0)
		h1
			font-size: ms(1)
		h2
			font-size: ms(0)
		h3
			font-size: ms(-1)
		

// +galaxys5
// 	body, html
// 		font-size: 18px
// 		line-height: 29px

// 		p, td, li
// 			font-size: 18px
// 		h1
// 			font-size: 42px
// 		h2
// 			font-size: 26px
// 		h3
// 			font-size: 20px

// //(TABLET)

// +nexus6p
// 	body, html

// 		font-size: 20px
// 		line-height: 32px

// 		p, td, li
// 			font-size: 20px

// 		h1
// 			font-size: 52px
// 		h2
// 			font-size: 32px
// 		h3
// 			font-size: 25px

// +desktop
// 	body, html

// 		font-size: 20px
// 		line-height: 36px

// 		p, td, li
// 			font-size: 20px

// 		h1
// 			font-size: 52px
// 		h2
// 			font-size: 32px
// 		h3
// 			font-size: 25px

// +largeDesktop
	body, html
		font-size: 24px
		line-height: 39px

		p, td, li
			font-size: 24px

		h1
			font-size: 63px
		h2
			font-size: 39px
		h3
			font-size: 31px
			font-size: 31px
