
<template>
  <div class="outer">
    <main-view :localCustomers="localCustomers" :restoreData="restoreData" :timerInfo="timerInfo" :cachedTimers="cachedTimers"
                @dbBus="dbBus" @timersBus="timersBus" @restoreBus="restoreBus" @cachedTimers="updateCachedTimers">
    </main-view>

    <!-- <router-view></router-view> -->

    <!-- <div class="fab__push main"> <img class="fab__image" src="../../static/img/cross.svg"> </div> -->


    <modal v-if="vMainModal"   
      @close="vMainModal = false" 
      :styles="{vMainModal:vMainModal}"> 

      <div class="wrap" v-if="vMainModalView === 'login'">


        <h3>Login</h3>

        <form @submit.prevent="submitUser()">

          <input name="name" type="text" v-model="user" maxlength="10"  placeholder="User" v-validate="'min:3'" v-focus>
          <span v-show="errors.has('name')">{{errors.first('name') }}</span>

          
          <input name="password" type="password" v-validate="'min:5'"  v-model="pass" maxlength="20"  placeholder="Password" >
          <span v-show="errors.has('password')">{{errors.first('password') }}</span>
          
          <span v-show="showStatus">{{statusMessage}}</span>          
          <input v-show="errors.count() === 0 && user.length >= 3 && pass.length >= 5"  type="submit" class="main submit" ></input>

        </form>
      </div>

      <div class="wrap" v-if="vMainModalView === 'push'">
        <h3>Allow push notifications? </h3>
          
          <button @click="vMainModal=false">Yes </button>
          <button @click="vMainModal=false">No  </button>
        
        
      </div>

    </modal>

  </div>
</template>


<script lang="babel">

    import axios from 'axios';
    import { bus } from '../main'


  //----------------------------------------------------=|Main|=-|
    export default {

      data() {
        return {
          t1Open: false,
          db: null,
          newCustomer: null,

          localCustomers: [],
          localMachines: [],

          dbEditOpen: false,
          dbOpen: false,

          timeNow: [new Date().getHours(), new Date().getMinutes(), new Date().getSeconds()],
          timePassed: [],
          newTime: [],
          newTimeLeft: [],

          restoreData: [],

          vMainModal: null,
          vMainModalView: null,

          isSubscribed: true,

          loggedIn: true,
          user: '',
          pass: '',
          statusMessage: '',
          showStatus: false,

          timerInfo: null,
          socket: this.$socket,

          cachedTimers: null,

          bus: bus

        }
      },

      watch: {
        restoreData: function() {
          // this.DBmachineRestore();
        },

      },

      created() {

      },

      mounted() {

        //----------------------------------------------------=|Login|=-|
        

          if (!this.isSubscribed) {
            this.vMainModal = true;
            this.vMainModalView = 'push';
          } else if (!this.loggedIn) {
            this.vMainModal = true;
            this.vMainModalView = 'login';
          } else {
            this.vMainModal = false;
          }

          // console.log(this.vMainModel);

        //      

        //----------------------------------------------------=|Init|=-|
        
          this.DBgetCustomers();    
          this.DBmachineRestore();
          // this.startTimer();
          this.getTimers();

          this.$options.sockets.cachedTimers = function(bus){
            // console.log('working') 
            // console.log(bus.pc1);
            this.cachedTimers = bus

            // this.cachedTimers = bus
          }

         
        //

        //----------------------------------------------------=|Service Worker|=-|
        
          // register 
          if (navigator.serviceWorker) {
            navigator.serviceWorker.register('/sw.js')
            .then(function(reg) {
              console.log('Service worker change, registered the service worker');
              // console.log(reg)
            });
          } else {
            console.error('Service worker is not supported in this browser');
          }

          // get public key 
          this.$options.sockets.publicKey = (data) => {

            navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
              serviceWorkerRegistration.pushManager
              .subscribe({
                userVisibleOnly: true,
                applicationServerKey: data
              });
            });
          }

          if (!("Notification" in window)) {
            console.error("This browser does not support desktop notification");
          }

          // Let's check whether notification permissions have already been granted
          else if (Notification.permission === "granted") {
            console.log("Permission to receive notifications has been granted");
          }

          // Otherwise, we need to ask the user for permission
          else if (Notification.permission !== 'denied') {
            Notification.requestPermission(function (permission) {
            // If the user accepts, let's create a notification
              if (permission === "granted") {
                console.log("Permission to receive notifications has been granted");
              }
            });
          }

        //

      },


      methods: {


        //----------------------------------------------------=|Buses|=-|
        
          dbBus(bus) {
    
            
            // --=| CRUD |=--

            // console.log(bus);

            var source = bus[0];

            // --=|Customers|=--
            if (source === 'get') this.DBgetCustomers();
            if (source === 'new') this.DBaddCustomer(bus[1], bus[2], bus[3], bus[4], bus[5], );
            if (source === 'deletePlayer') this.DBdeletePlayer(bus[1]);

            if (source === 'submitCustomer') this.DBsubmitCustomer(bus[1], bus[2]);
            if (source === 'updateCustomer') this.DBupdateCustomer(bus[1], bus[2]);

            // console.log(source)

            if (source === 'clearPlayer') {
              // console.log(bus)
              this.socket.emit('cachedTimers', bus[1]);
              // bus.$emit('passTimeOnly', null)
              // console.log('passedd')
        
              
            }
            

            
            // --=|Machine|=--
            if (source === 'DBremovePlayer') this.DBremoveMachine(bus[1]);    
    
            if (source === 'clearTimer') {
              this.DBremoveMachine(bus[1])
              this.bus.$emit('passTimeOnly', null)
              
            };

            if (source === 'machine') this.DBupdateMachine(bus[1],bus[2],bus[3],bus[4]);   
            
            if (source === 'getPcNumber') this.DBgetPcNumber(bus[1], bus[1]);
            

            // if (source === 'completedSession') this.DBupdateMachine(bus[1],bus[2],bus[3],bus[4]);
            
      
            // --=|Session|=--
            if (source === 'session')  this.DBnewSession(bus[2], bus[3], bus[1], bus[4]);          

            if (source === 'deleteSession') this.DBdeleteSesson(bus[1], bus[2], bus[3]);

            if (source === 'finishTime') this.DBfinishSession(bus[1],bus[2],bus[3],bus[4]);


          },

          restoreBus(value) {

            // console.log(value);

            var source   = value[0],
                pc       = value[1],
                name     = value[2],
                tag      = value[3],
                timeLeft = value[4];
        
            // Convert ID
              if      (pc === 'ps1') pc = pc.replace('ps1', 'pc13');
              else if (pc === 'ps2') pc = pc.replace('ps2', 'pc14');
              else if (pc === 'ps3') pc = pc.replace('ps3', 'pc15');
              else if (pc === 'xb1') pc = pc.replace('xb1', 'pc16');
              else if (pc === 'xb2') pc = pc.replace('xb2', 'pc17');

            //



            
            // if (source === 'cacheTimer') this.DBupdateCacheTimer(pc, name, tag, value[4])
            
            // if (source === 'extendSession') this.DBnewSession(bus[1]);
            
              
          },

          timersBus(bus) {

            // console.log(bus)
            
            var source  = bus[0];

            if (source === "timer") {

              var id      = bus[1],
                  key     = bus[2],
                  value   = bus[3],
                  name    = bus[4],
                  tag     = bus[5];
              
              // console.log(bus)

              this.DBgetCustomers()

              if (key === 'start')  this.timerOps('start', id, value, name, tag);
              if (key === 'pause')  this.timerOps('pause', id, value);
              if (key === 'resume') this.timerOps('resume', id);
              if (key === 'stop')   this.timerOps('stop', id);

            } else if (source === "pushMessage") {

              // console.log(bus)

              var action   = bus[1],
                  name     = bus[2],
                  tag      = bus[3],
                  id       = bus[4],
                  time     = bus[5],
                  message  = "";

                  // console.log(time)

              if (time[1] === 0) time = time[0] + 'h'
              else time = time[0] + 'h ' +time[1] + 'm'  

              if (action === 'start')  {
                message = "Timer Started" + ' ' + name + ' ' + tag + " is now on " + id + ' for ' + time;
              }

              else if (action === 'pause') {
                message = 'Timer Paused' + ' ' + name + ' ' + tag + " on " + id + ' is paused on ' + time;
              } 

              else if (action === 'resume') {
                message = 'Timer Resumed' + ' ' + name + ' ' + tag + " on " + id + ' has resumed with ' + time + ' left';
              } 

              else if (action === 'warning') {
                message = 'Almost Done' + ' ' + name + ' ' + tag + " on " + id + ' has 10 mins left!';
              } 

              else if (action === 'completed') {
                message = 'Finish Time!' + ' ' + name + ' ' + tag + " on " + id + ' is done!';
              } 

              // console.log(message)
              

              this.triggerPush(message)

                  
                  
            }
            
          },

          updateCachedTimers(bus) {
            // console.log(bus)
            
          },


   
        //

        //----------------------------------------------------=|Timers|=-|

          timerOps(source, id, value, name, tag) {

            // console.log(source, id, value);
            
            if (source === 'start')   this.$socket.emit('timer_ops', ['timer', id, 'start', value, name, tag ]);
            if (source === 'pause')   this.$socket.emit('timer_ops', ['timer', id, 'pause', null ]);
            if (source === 'resume')  this.$socket.emit('timer_ops', ['timer', id, 'resume', null ]);
            if (source === 'stop')    this.$socket.emit('timer_ops', ['timer', id, 'stop', null ]);
            

          },
          
          getTimers() {

            var self = this;

            this.$options.sockets.timer = function(bus){  
              // console.log(bus)
              self.timerInfo = bus[1];

              // console.log(self.timerInfo);

            }
          },

        //

        //----------------------------------------------------=|Customers|=-|

          DBgetCustomers() {
            var self = this;
            
            this.socket.emit('customer', ['get']);

            this.$options.sockets.get_customers = (customers) => {
              self.localCustomers = customers;
            }

          },

          DBaddCustomer(name, tag, gender, email, phone) {  

            this.socket.emit('customer', ['new', {
              "name": name,
              "tag": tag,
              "gender": gender,
              "email": email,
              "phone": phone
            }]);

            console.log({
              "name": name,
              "tag": tag,
              "gender": gender,
              "email": email,
              "phone": phone
            })

            var self = this;
            self.DBgetCustomers();
            self.getTimers();
            
            // axios.post("http://jquinandy.co.uk:3000/api/customers", 
              // {
              //   "name": name,
              //   "tag": tag,
              //   "gender": gender
              // }
              // ).then(res => {
              //   console.log(res.data);
              //   self.DBgetCustomers();
                
              // });


          },

          DBdeletePlayer(id) {

            this.socket.emit('customer', ['delete', {
              "id": id,
            }]);

            this.DBgetCustomers();
          
          },

          // Login

          DBsubmitCustomer(name, tag) {
            console.log(name + ' ' + tag)

            this.socket.emit('login', ['submit', 'player', {
              "name": name,
              "tag": tag,

            }]);

          },

          DBupdateCustomer(oldCustomer, newCustomer) {
            // console.log(oldCustomer);
            // console.log(newCustomer);
            
            this.socket.emit('login', ['update', 'player', oldCustomer, newCustomer]);

          },
          
        //

        //----------------------------------------------------=|Machines|=-|

          DBgetMachines(cb) {
            var self = this;
            this.socket.emit('crud', ['get', 'machines']);

            this.$options.sockets.get_machines = function(machines){

              self.localMachines = machines;
  
              cb();
              
            }

          },

          DBupdateMachine(pc, name, tag, timeLeft) {

            if      (pc === 'ps1') pc = pc.replace('ps1', 'pc13');
            else if (pc === 'ps2') pc = pc.replace('ps2', 'pc14');
            else if (pc === 'ps3') pc = pc.replace('ps3', 'pc15');
            else if (pc === 'xb1') pc = pc.replace('xb1', 'pc16');
            else if (pc === 'xb2') pc = pc.replace('xb2', 'pc17');


            // Close timer 
            
            this.socket.emit('machine', ['remove', {
              "pc": pc,
              "name": name,
              "tag": tag,
              "timeLeft": timeLeft
            }]);

          },

          DBremoveMachine(pc){

            var machine = {
              pc: pc,
              name: null,
              tag: null,
              timeLeft: []
            }


            
            this.DBupdateMachine(machine.pc, machine.name, machine.tag, machine.timeLeft);
          },

          DBmachineRestore() {

            // var self = this;

            // self.DBgetMachines(function(){ 
            //   self.localMachines.forEach(function(machine) {
                
            //     if (machine.name !== ' ') self.restoreData.push(machine);
                
            //   });

            // });

          },

          DBgetPcNumber(name, tag) {
            this.socket.emit('crud', ['get', 'pcNumber', {
              "name": name,
              "tag": tag         
            }]);
          },

        
        //

        //----------------------------------------------------=|Sessions|=-|

          DBgetSession(customer) {
            var self = this;

            this.socket.emit('session', ['get', {
              "customer": customer
            }]);

            this.$options.sockets.get_session = (session) => {  
              console.log(session)     
              // return session
            }

          },
      
          DBnewSession(name, tag, pc, duration, extend){

            // console.log(name+ tag+ pc+ duration)

            if (extend === undefined) extend = false;

            var start   = this.getDateTime()[1];
            var finish  = this.calcFinsihtime(duration);         
            var date    = this.getDateTime()[0];
            var id      = this.localCustomers;

            var matchedCustomer = this.localCustomers.filter(findPlayerId)[0]._id;

            function findPlayerId(player){
              if (player.name === name && player.tag === tag ) {
                return true
              } 
            }

            this.socket.emit('session', ['insert', {
              "id":   matchedCustomer,
              "name": name,
              "tag":  tag,
              "pc":   pc,

              "duration": duration,
              "start":    start,
              "finish":   finish,
              "date":     date
            }]); 

          },

          DBdeleteSesson(name, tag) {

            function findPlayerId(player){
              if (player.name === name && player.tag === tag ) {
                return true
              } 
            }

            console.log(this.localCustomers)

            var matchedCustomer = this.localCustomers.filter(findPlayerId);

            var id = matchedCustomer[0]._id;

            this.socket.emit('session', ['delete', {
              "id": id,
            }]);

            

            this.DBgetCustomers();
            
          },

          DBfinishSession(pc, name, tag, timeLeft) {

            //   var id = findPlayerId({"name": name, "tag": tag });
            var self = this;

            // console.log('working')


            this.socket.emit('session', ['get', {
              "pc": pc,
              "name": name,
              "tag": tag,
            }]);

            this.$options.sockets.get_session = (customer) => {

              var lastSession = customer[0].sessions.slice(-1)[0];

              var id = lastSession._id

              var startTime = lastSession.start;
              var duration = lastSession.duration;

              var newDuration = self.calcNewDuration(duration, timeLeft);
              var newFinish = self.calcNewFinish(startTime, newDuration);

              // console.log(newDuration)

              //Update last session 
              this.socket.emit('session', ['update', {
                "id": id,
                "duration": newDuration,
                "finish": newFinish,
                "name": name,
                "tag": tag,
              }]);

            }

            this.DBgetCustomers();
            
          },

          calcNewDuration(duration, timeLeft ) {

            // console.log(duration);

            // console.log(timeLeft);

            var newTime = [0,0]

            timeLeft[0] = Number(timeLeft[0])
            timeLeft[1] = Number(timeLeft[1])
            

            // Minus diff send to server to update 

              if (duration[0] - timeLeft[0] < 0) {
                newTime[0] = 0
              } else {
                newTime[0] = duration[0] - timeLeft[0];
              }

              if (duration[1] - timeLeft[1] < 0) {
                newTime[0] = newTime[0] - 1;

                newTime[1] = duration[1] - timeLeft[1];
                newTime[1] = newTime[1] + 60;
              } else {
                newTime[1] = duration[1] - timeLeft[1];              
              }

              newTime[2] = 0;

            console.log(newTime); 

            return newTime
          },

          calcNewFinish(startTime, newDuration) {

            var newTime = [0,0];


            // console.log(startTime[0] + newDuration[0])

            // console.log(startTime)
            // console.log(newDuration)
            
          
            // Hours 
            if (startTime[0] + newDuration[0] >= 24) {
              newTime[0] = startTime[0] + newDuration[0]
              newTime[0] = newTime[0] - 24
            } else {
              newTime[0] = startTime[0] + newDuration[0]
            }
            
            //Mins 
            if (startTime[1] + newDuration[1] > 60) {
              newTime[0] = startTime[0] + 1
              newTime[1] = startTime[1] - 60
              newTime[1] = newTime[1] + newDuration[1]
              
            } else {
              newTime[1] = startTime[1] + newDuration[1];
            }

            newTime[2] = 0;
            

            // console.log(newTime);

            return newTime
          },

          // DBextendSesson(session) {
            
            //   function findPlayerId(player){
            //     if (player.name === session[1] && player.tag === session[2] ) {
            //       return true
            //     } 
            //   }

            //   var matchedCustomer = this.localCustomers.filter(findPlayerId);
            //   matchedCustomer = matchedCustomer[0]._id; 


            //   this.socket.emit('crud', ['extend', 'session', {
            //     "id": matchedCustomer,
            //     "session": session
            //   }]);
            // },



        


        //

        //----------------------------------------------------=|Helpers|=-|
          
          getDateTime() {
            var month = new Date().getMonth() + 1
            var day   = new Date().getDate()
            var year  = new Date().getFullYear()

            var hours = new Date().getHours();
            var mins  = new Date().getMinutes();

            var date = day + "/" + month + "/" + year      
            var time = [hours, mins]

            return [date, time];

          },

          calcFinsihtime(duration){
            var currentTime = this.getDateTime()[1];
            var finishTime = [];          

            if (Number(currentTime[1]) + Number(duration[1]) > 60) {
              finishTime[0] = Number(currentTime[0]) + Number(duration[0]) + 1

              finishTime[1] = Number(currentTime[1]) + Number(duration[1]) - 60
            }
            else {
              finishTime = [Number(currentTime[0]) + Number(duration[0]), Number(currentTime[1]) + Number(duration[1])]; 
            }

            return finishTime 

          },

          submitUser() {

            var self = this;

            this.showStatus = true;
            
            this.$validator.validateAll().then(() => {
              
              this.socket.emit('login', ['submit', 'creds', {
                "user": this.user,
                "pass": this.pass
              }])

              this.$options.sockets.login = (isMatch) => {
                // console.log(isMatch)
                
                if (isMatch === true) {
                  self.vMainModal = false;
                }

                this.statusMessage = isMatch;
                console.log(this.statusMessage)
                
              }
              

           
            

            });

            
            // if(submitted) {
            //   this.user = '';
            //   this.pass = '' ;
            // }

          },

        //  
        
        //----------------------------------------------------=|PUSH|=-|
        
          triggerPush(message) {

          navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
              serviceWorkerRegistration.pushManager.getSubscription()
              .then((subscription) => {
                // console.log('working')
                // console.log(message)
                this.$socket.emit('push', [subscription.toJSON(), message])
    
              });
            });

          }

        
  //--|>    
      } 
  //--|>    
    }

</script>



<style lang="sass">

  body

    margin: 0
    padding: 0

    transition: all 1s ease

    font-family: 'VT323', sans-serif
    font-size: 2.5em
    background: url("../../static/img/eden-bg2.png") center center fixed
    color: white

    width: 100%
    max-height: 100%

    // position: fixed
    // overflow-x:scroll

    // max-width: 100% !important
    // overflow-x: hidden !important

  .outer 
    width: 100%

  input
    font-family: 'VT323', sans-serif
    
  button
    font-family: 'VT323', sans-serif
    




</style>