<template>
  <div id="csWrapper">
    
    <h1>Players</h1>
    
    <input class="exsistingCustomerInput" v-focus v-model="search" placeholder="Search"></input>
    <button class="customerButton" @click="$emit('passView', 'newCustomer')">✚</button>        
    
 
    <div class="customerView">
     
      <ul class="custList" v-if="visible">
        <h2>Name</h2>
        <li class="listItems" v-for="customer in result" @click="$emit('searchBus', [customer.name, customer.tag, customer.gender])">
          {{ customer.name }} 
        </li>
      </ul>
      
      <ul class="custList" v-if="visible">
        <h2>Tag</h2>        
        <li class="listItems" v-for="customer in result" @click="$emit('searchBus', [customer.name, customer.tag, customer.gender])">
          {{ customer.tag }} 
        </li>
      </ul>

    </div>

 </div>
</template>

<script lang="babel">

  import Fuse from 'fuse.js'
  window.Fuse = Fuse;

  export default {
    name: 'customersearch',
    props: ['localCustomers'],


    mounted(){
      this.options = {
        shouldSort: true,
        threshold: 0.6,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: [
          "name",
          "tag"
        ]
      };

      console.log(this.localCustomers)

      this.fuse = new Fuse(this.localCustomers, this.options),
      this.result = this.fuse.search(this.search);

    },

    watch: {
      search() {
        this.result = this.fuse.search(this.search.trim());

        if (this.search.length > 0) this.visible = true
        else this.visible = false
        
        //   if (this.search.trim() === '')
        //     this.result = this.list
        //   else
        //     this.result = this.fuse.search(this.search.trim())
      }
    },


    data() {
      return { 
        fuse: null,
        options: {},
        search: '',        
        result: null,

        visible: false
      }
    },

  }
</script>

<style scoped lang="sass">
  @import "../sass/lib.sass"

  @mixin align-flex
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

  #csWrapper
    @include align-flex
    height: 85vh

    .exsistingCustomerInput
      font-size: 2rem

    ul
      list-style: none
      text-align: center

    li
      // text-align: left
      font-size: .8em

    h1
      height: 10%
      margin: 5% 0 15% 0
      width: 100%
      font-size: 3rem

    h2
      margin: .3em 0
      text-decoration: underline
      color: black

    input
      height: 10vh
      margin: 0 2% 0 0 
      width: 75%

    button
      height: 11vh
      width: 20%
      
      font-size: 1.4rem
      background-color: transparent
      border: .06em solid white

    +bigger
      button
        font-size: 4rem

      .exsistingCustomerInput
        font-size: 4rem

    +tablet
      font-size: 2.5rem
      h1
        flex: 0 0 100%
        text-align: center
        margin: 10% 0 0 0

      .exsistingCustomerInput
        &::placeholder
          font-size: 2rem
          // text-align: center
          
      button
        font-size: 3rem

      // .exsistingCustomerInput
      //   font-size: 8rem

  .customerView
    width: 100%
    height: 70%
    display: flex
    justify-content: space-around

    overflow-y: hidden
    overflow-x: hidden

    .custList
      width: 100%
      padding: 0
      margin: 4% 0 0 0

      li
        width: 100%
        padding: 5% 0

      input
        height: 3rem
        width: 70%

        font-size: 3rem
        text-align: center
    


      

</style>