<template>
  <div class="dbWrapper" > 
    <p @click="$emit('closeDataBase')">╳</p>
   
    <nav>
      <ul>
        <li v-for='tab in tabs' @click="currentTab=tab">{{tab}}</li>
      </ul>
    </nav>

    <div class="customers" v-if="editViewPort==='customers'" transition="fade" >

  
      <div class="searchWrapper">
        <input type="text" v-focus v-model="search" @input="logger()">
      </div>

      <div class="customerView" key="2">

        <ul class="custName">
          <li v-for='customer in result'>{{customer.name | fuc}}</li>
        </ul>
        <ul class="custTag">  
          <li v-for='customer in result'>{{customer.tag | fuc}}</li>
        </ul>
        <ul class="edit">
          <li v-for='customer in result' @click="editViewPort='edit', cacheCustomer=customer, newCustomer=customer"><button class="main">Edit</button></li>
        </ul>

      </div>

    </div>

      <transition 
          enter-active-class="animated fadeIn ani-speed-3" 
          leave-active-class="animated fadeOut ani-speed-3">

        <div class="editView" v-if="editViewPort==='edit'" transition="fade" >
          <p @click="editViewPort = 'customers'">╳</p>
          <ul>
            <li>Name </li>
            <li>Tag </li>
            <li>Gener </li>
            <li>Email </li>
            <li>Phone </li>
            <li>Joined </li>
          </ul>

          <ul>
            <li><input v-model="newCustomer.name" @focus="updateCustomerObj" ></input></li>
            <li><input v-model="newCustomer.tag " @focus="updateCustomerObj"></input></li>
            <li><input v-model="cacheCustomer.gender" @focus="updateCustomerObj"></input></li>
            <li><input v-model="cacheCustomer.email" @focus="updateCustomerObj"></input></li>
            <li><input v-model="cacheCustomer.phone" @focus="updateCustomerObj" type="number" pattern="[0-9]*"></input></li>
            
            <!-- <li><input v-model="newCustomer.gender" @focus="updateCustomerObj" type="radio" ></input></li>             -->
            <li><input v-model="cacheCustomer.joined"></input></li>   
          </ul>

          

          <div class="buttonWrap"> 
            <button class="main full save" @click="updateCustomer(), mainModalHandler('updated')"> Save </button>
            
            <button class="main delete" @click="mainModalHandler('delete')"> Delete </button>
            <button class="main" @click="editViewPort='sessions'" > Sessions </button>
            <button class="main back" @click="editViewPort='customers'"> Back </button>
          </div>

          
          
        </div>

        <div class="sessionView" v-if="editViewPort==='sessions'" transition="fade" >
          
          <div class="stats">
            <h3> {{ cacheCustomer.name }} {{ cacheCustomer.tag }}</h3>
            <h3> Sessions: {{cacheCustomer.sessions.length}} </h3>
          </div>

          <div class="viewwrap">

            <div class="view"> 
              <li v-for="sesh in cacheCustomer.sessions"> {{sesh.date}}    </li>
            </div>

            <div class="view"> 
              <li v-for="sesh in cacheCustomer.sessions"> {{sesh.duration[0]}}h {{sesh.duration[1]}}m   </li>
            </div>

            <div class="view"> 
              <li v-for="sesh in cacheCustomer.sessions"> {{sesh.start | stripArray}}  </li>
            </div>

            <div class="view"> 
              <li v-for="sesh in cacheCustomer.sessions"> {{sesh.finish | stripArray }}  </li>
            </div>

            <div class="view"> 
              <li v-for="sesh in cacheCustomer.sessions"> {{sesh.pc}}  </li>
            </div>

          </div>
          
          
        </div>
      
      </transition>


    <modal v-if="vMainModal"   
      @close="vMainModal = false" 
      :styles="{vMainModal:vMainModal}"> 

      <div class="wrap" v-if="vMainModalView === 'delete'">
        <h1>Are you sure?</h1>
        <h5>This will delete the player and all thier data</h5>

        <button class="main" @click="submitDelete(cacheCustomer._id, cacheCustomer.name, cacheCustomer.tag)" >Yes</button>
        <button class="main" @click="vMainModal=false, editViewPort='customers', vMainModal = false" >No</button>
        
      </div>

      <div class="wrap" v-if="vMainModalView === 'warning'">
        <h5>{{newCustomer.name}} has been updated</h5>
        <button class="main" @click="vMainModal=false" >Ok</button>
        
      </div>

      <div class="wrap" v-if="vMainModalView === 'updated'">
        <h5>{{newCustomer.name}} has been updated</h5>
        <button class="main" @click="vMainModal=false" >Ok</button>
        
      </div>

      

    </modal>


  </div>
</template>

<script lang="babel">

  import Fuse from 'fuse.js'
  window.Fuse = Fuse;

  export default {
    name: 'database',
    props: ['localCustomers'],

    mounted(){
      // console.log(this.localCustomers)

      this.options = {
        shouldSort: true,
        threshold: 0.6,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: [
          "name",
          "tag"
        ]
      };

      this.fuse = new Fuse(this.localCustomers, this.options),
      this.result = this.fuse.search(this.search);

      // console.log(this.fuse.search("J"))


    },

    watch: {
      search() {
        this.result = this.fuse.search(this.search.trim());
      },
      cacheCustomer() {
        // console.log(this.cacheCustomer)        
      }
    },

    data() {
      return { 
        tabs: ['Players'],
        currentTab: 'customers',
        
        fuse: null,
        options: {},
        search: '',        
        result: null,

        cacheCustomer: null,
        newCustomer: null,
        oldCustomer: {
          name: null,
          tag: null
        },
     
        editViewPort: 'customers',

        vMainModal: false,
        vMainModalView: 'delete'

      }
    },

    methods: {
      logger() {
        // console.log(this.result);
      },

      toggleView() {
        this.editViewPort = false
      },


      submitDelete(id, name, tag) {
        this.vMainModal=false;
        this.toggleView();
        this.$emit('dbPass', ['deletePlayer', id])        
        this.$emit('dbPass', ['getPcNumber', name, tag]);
        this.$emit('closeDataBase');
        
      },

      updateCustomer() {
        console.log('working')

        // var newCustomer = {name: name, tag: tag};

        // console.log(this.newCustomer)
        // console.log(this.cacheCustomer)

        this.$emit('dbPass', ['updateCustomer', this.oldCustomer, this.newCustomer]);
        this.vMainModalView = 'updated'        
        this.vMainModal = true;

      },


      submitCustomer(name, tag) {
        this.$emit('dbPass', ['submitCustomer', name, tag]);
      },

      updateCustomerObj() {
        this.oldCustomer.name = this.cacheCustomer.name, 
        this.oldCustomer.tag = this.cacheCustomer.tag,
        this.oldCustomer.gender = this.cacheCustomer.gender
      },

      mainModalHandler(status) {
        this.vMainModal = true
        this.vMainModalView = status
      }
      
    },

    filters: {
      fuc: function(value){
        return value.charAt(0).toUpperCase() + value.substring(1);
      },

      removeTime: function(value){
        return value.split(',')[0]
      },

      stripArray(array) {
        // console.log(array.length)
        // console.log(array)

        if (array.length > 2) array = array.pop()
        array = array.toString().replace(',', ':')
        
        return array
      }

    }
  }

</script>

<style lang="sass">

  @import "../sass/lib.sass"
  


  .dbWrapper
    width: 100%
    height: 98vh
    max-width: 800px
    margin: 0 auto
    overflow-y: hidden


    .vMainModal
      .modal-container
        height: 90vh
        width: 90vw
 

    p
      position: absolute
      top: 0
      right: 0
      margin: 6%
      font-size: .5em
      

    nav
      @include align-flex
      height: 14%
      
      ul
        list-style: none
        text-align: center
        padding: 0

    //

    .customers
      height: 80vh
      width: 100%
      max-width: 800px
      margin: 0 auto

      .searchWrapper
        width: 100%
        display: flex
        justify-content: center


      input
        height: 2rem
        width: 70%
        margin: 5% auto
        background-color: rgba(125, 159, 83, .7)
        // color: white
        
        text-align: center
        font-size: 80%

      .customerView
        display: flex
        justify-content: space-around
        height: 100%
        max-width: 800px
        margin: 0 auto

        
        ul
          list-style: none
          padding: 3% 5%
          width: 100%
          font-size: .5em

          &nth-child(3)
            padding-top: 0

          li
            height: 8%
            postion: relative

            button
              width: 100%
              height: 100%
              margin-top: -1em
              background-color: rgba(136, 133, 150, .7)
              color: rgba(22, 49, 155, 1)
              font-size: 100%
              

      
    .editView
      width: 100vw
      max-width: 800px
      display: flex
      flex-wrap: wrap
      justify-content: center

      p
        position: absolute
        top: 0
        right: 0
        margin: 6% 6%
      //

      ul
        margin: 0
        padding: 0
        width: 36%


        
      li
        margin: 2vh 0
        width: 100%
        font-size: .5em
        text-align: left
        font-size: .7em

        input
          width: 100%
          
          &:nth-child(4)
            font-size: 1rem

      //

      input
        height: 10%
        background-color: transparent
        border: none
        padding: .1% .5% .1% 2%
        margin: 0 0 0 1% 
        color: white
        font-size: 1em
      //

      .buttonWrap
        width: 100%
        max-width: 800px
        
        height: 30%        
        display: flex
        justify-content: center
        flex-wrap: wrap

        position: absolute
        bottom: 7vh

        +tabletL
          bottom: 10vh
        
        // margin: 37% 0 0 0 

        button
          width: 43%
          margin: 2% 2%
          font-size: .7em
          

        .save, .back
          width: 90%
      //

    .sessionView
      width: 100%
      font-size: 0.6em
      
      
      ul
        display: flex
        flex-wrap: wrap
        padding: 0
      //

      .stats
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: center

        h3
          width: 50%
          text-align: center
          margin: 3% 0
      //    

      .viewwrap
        display: flex
        margin: 3% auto 0 auto
        width: 95%

        .view
          width: 30%        
          display: flex
          flex-direction: column
          // margin: 7% 0
          list-style: none

          font-size: 80%
          
          li
            margin: 0 0 10% 0

          &:first-child
            margin-right: 4%
            


      //
    +tabletL
      .editView
        width: 800px
</style>