<template>

  <div class="machine pc" @click="mBus('open ' + id)" >  
    <p class="info mId">{{ id.toUpperCase() | swap }}</p>
    <p class="info name"> {{ name | trunc }}</p>
    <p class="info time"> {{ time }} </p> 

    
  </div>

</template>

<script type="text/x-template">

  import { bus } from '../main'

  export default {
    props: ['name', 'tag', 'id', 'timerInfo', 'passTimeOnly' ], 

    data: function() {
      return {
        
        showModal: this.modalOpen,
        finished: false,

        time: null,
        tempName: null,
        tempTag: null,

        inUse: false
        

      }
    },

    created(){
      // console.log(this.id.substr(2))

      // bus.$on('passTimeOnly', function(bus){
      //   var source  = bus[0];
      //   var id      = bus[1];
      //   var value   = bus[2];

      //   if (id === this.id) {
      //     console.log(source+' '+id+' '+value)
      //   }

      //   console.log(source)
      // //   this.time = bus
      // })
    },

    
    watch: {


      timerInfo: function() {
        // console.log(this.timerInfo);

        var id = this.timerInfo[0],
            key = this.timerInfo[1],
            time = this.timerInfo[2],
            name = this.timerInfo[3],
            tag = this.timerInfo[4]; 


        if (key === 'clearTimer') {
          console.log(id)
        }


        // console.log('id:  ' + id + '  idthis: ' + this.id)

        if (id === this.id) this.inUse = true
        else this.inUse = false

        if (id === this.id && key === 'time'){

          time = time.split(':');
          var h = 'h ';
          var m = 'm ';
          var s = 's ';

          var hours = time[0];
          var mins = time[1];          
          var secs = time[2];        

          if (hours === '00') {
            hours = '';
            h = '';
          } else {
            hours = time[0].slice(1);
            h = 'h ';
          }

          if (hours === '' && mins < 1) {
            secs = time[2];            
            s = 's ';
            mins = '';
            m = '';
          } else {
            secs = '';            
            s = '';
            mins = time[1];
            m = 'm ';
          }

          if (mins.charAt(0) === '0') mins = Number(mins.slice(1));
          if (secs.charAt(0) === '0') secs = Number(secs.slice(1));


          if (secs === 1) {
            hours = ''
            mins = '';
            secs = 'Finished'
            h = '';
            m = '';
            s = '';

            this.$emit('passStatus', ['completed', this.name, this.tag]);
            // this.completed = true;

          }

          
          var newTime = hours + h + mins + m + secs + s;

          // console.log(newTime);

          this.time = newTime;
          
          this.tempName = name;
          this.tempTag = tag;
          


        }
          
      },





    },

    methods: {
      
      mBus(value) {
        // console.log(value)
        this.$emit('mBus', value);
      },





      
    },
    
    filters: {
      swap: function(value) {

        if      (value === 'PC13') value = 'PS1'
        else if (value === 'PC14') value = 'PS2'
        else if (value === 'PC15') value = 'PS3'
        else if (value === 'PC16') value = 'XB1'
        else if (value === 'PC17') value = 'XB2'
    
        return value
      },

      fuc: function(value) {
        return value.charAt(0).toUpperCase() + value.substring(1);
      },

      trunc: function(value) {

        if (!value) return

        if (value.length >= 7) {
          return value.substr(0,6) + '..'
        } else {
          return value
        }
      }
    }

  }    
</script>


<style scoped lang="sass">
  @import "../sass/lib.sass"


  .machine
    width: 100%
    height: 100%
    
    
    background-color:  RGBA(0,0,255,0.1)
    border: .1rem solid RGBA(160,200,26, 0.5)
    border-radius: .3em
    
    display: grid
    grid-template-rows: 1fr 1fr 1fr
    min-height: 0
    min-width: 0

    p
      margin: 3% 0
      overflow: hidden
      min-width: 0
      font-family: 'VT323', monospac
      font-size: 1.3em
      

    .info
      text-align: center

    .mId
      // font-size: .8em

    .time
      // font-size: .9em
      

  .inUse
    background-color:  RGBA(0,255,0,0.1)
    border: .1rem solid RGBA(160,200,26, 1)
    

  .free
    background-color:  RGBA(0,0,255,0.1)
    border: .1rem solid RGBA(160,200,26, 0.5)

  .completed
    background-color:  RGBA(255,0,0,0.3)
    border: .1rem solid RGBA(255,165,0, 0.9)
    

  .warning
    background-color:  RGBA(255,0,0,0.3)
    border: 1px solid red
    

  +bigger
    .machine
      border: .1rem solid RGBA(160,200,26, 0.5)

    .inUse
      border: .1rem solid RGBA(160,200,26, 1)
      
    .free
      border: .1rem solid RGBA(160,200,26, 0.5)

    .completed
      border: .1rem solid RGBA(255,165,0, 0.9)

    .warning
      border: .1rem solid red

  +tablet
    .machine
      border: .1rem solid RGBA(160,200,26, 0.5)

    .inUse
      border: .1rem solid RGBA(160,200,26, 1)
      
    .free
      border: .1rem solid RGBA(160,200,26, 0.5)

    .completed
      border: .1rem solid RGBA(255,165,0, 0.9)

    .warning
      border: .1rem solid red
  

</style>