
<template>
  

  <div class="outer-wrapper" v-cloak>

    <database :localCustomers="localCustomers" @dbPass="dbPass" @closeDataBase="dbOpen = false" v-if="dbOpen" key="2"  ></database>

    <div class="timerWrap" key="1">

      <timer key="1" mId="ID: PC1" v-show="pc1.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc1.name" :tag="pc1.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="2" mId="ID: PC2" v-show="pc2.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc2.name" :tag="pc2.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="3" mId="ID: PC3" v-show="pc3.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc3.name" :tag="pc3.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>

      <timer key="4" mId="ID: PC4" v-show="pc4.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc4.name" :tag="pc4.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="5" mId="ID: PC5" v-show="pc5.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc5.name" :tag="pc5.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="6" mId="ID: PC6" v-show="pc6.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc6.name" :tag="pc6.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>

      <timer key="7" mId="ID: PC7" v-show="pc7.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc7.name" :tag="pc7.tag"  @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle"  @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="8" mId="ID: PC8" v-show="pc8.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc8.name" :tag="pc8.tag"  @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle"  @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="9" mId="ID: PC9" v-show="pc9.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc9.name" :tag="pc9.tag"  @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle"  @dbPass="dbPass" @timerPass="timerPass"> </timer>

      <timer key="10" mId="ID: PC10" v-show="pc10.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc10.name" :tag="pc10.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="11" mId="ID: PC11" v-show="pc11.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc11.name" :tag="pc11.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="12" mId="ID: PC12" v-show="pc12.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc12.name" :tag="pc12.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>

      <timer key="13" mId="ID: PS1" v-show="pc13.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc13.name" :tag="pc13.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="14" mId="ID: PS2" v-show="pc14.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc14.name" :tag="pc14.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="15" mId="ID: PS3" v-show="pc15.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc15.name" :tag="pc15.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="16" mId="ID: XB1" v-show="pc16.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc16.name" :tag="pc16.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>
      <timer key="17" mId="ID: XB2" v-show="pc17.open" :timerInfo="timerInfo" :restoreData="restoreData" :timerOpen="timerOpen" :currentTimer="selectedTimer" :name="pc17.name" :tag="pc17.tag" @closeTimer="closeTimerHandler" @passTime="updateTime" @passStatus="setStatusStyle" @dbPass="dbPass" @timerPass="timerPass"> </timer>
      
    </div>

    <div class="error-message">Turn around!</div>


    
    <div class="page-wrapper" v-if="timerOpen === false && dbOpen === false" key="3" >

      <div class="nav">
        <div class="logoWrap">
        
          <img src="../../static/img/eden-logo.png" class="logo" @click="dbOpen = true" >
        </div>

        <div class="tabHandler" v-if="landscape === false">
          <h1 class="tab pc" @click="tabSwitcher('pc')" :class="{ selectedTab: !isConsole}" >PC</h1>
          <h1 class="tab console" @click="tabSwitcher('console')" :class="{ selectedTab: isConsole}" >Console</h1>
        </div>

      </div>

      <div class="view-wrapper">

          <!-- Display mobile layout for normal and hd mobiles  -->
          <div class="mobilePages" v-if="windowWidth < 859 && !landscape || windowWidth > 859 && !landscape ">

            <!-- <router-view></router-view> -->

            <!-- <transition name="tray"> -->
              <div class="viewPage pc-wrapper" :class="{moveTabs: isConsole }" >

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc1.completed, warning: pc1.warning, inUse: pc1.inUse }"
                          class="mach1"
                          :name="pc1.name" :tag="pc1.tag" :id="pc1.id" :timerInfo="timerInfo"  > </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc2.completed, warning: pc2.warning, inUse: pc2.inUse }"
                          class="mach2"          
                          :name="pc2.name" :tag="pc2.tag" :id="pc2.id" :timerInfo="timerInfo" > </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc3.completed, warning: pc3.warning, inUse: pc3.inUse }"
                          class="mach3"          
                          :name="pc3.name" :tag="pc3.tag" :id="pc3.id" :timerInfo="timerInfo" > </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc4.completed, warning: pc4.warning, inUse: pc4.inUse }"
                          class="mach4"          
                          :name="pc4.name" :tag="pc4.tag" :id="pc4.id" :timerInfo="timerInfo" > </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc5.completed, warning: pc5.warning, inUse: pc5.inUse }"
                          class="mach5"          
                          :name="pc5.name" :tag="pc5.tag" :id="pc5.id" :timerInfo="timerInfo" >  </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc6.completed, warning: pc6.warning, inUse: pc6.inUse }"
                          class="mach6"          
                          :name="pc6.name" :tag="pc6.tag" :id="pc6.id" :timerInfo="timerInfo" >  </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc7.completed, warning: pc7.warning, inUse: pc7.inUse }"
                          class="mach7"          
                          :name="pc7.name" :tag="pc7.tag" :id="pc7.id" :timerInfo="timerInfo" >  </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc8.completed, warning: pc8.warning, inUse: pc8.inUse }"
                          class="mach8"          
                          :name="pc8.name" :tag="pc8.tag" :id="pc8.id" :timerInfo="timerInfo" >  </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc9.completed, warning: pc9.warning, inUse: pc9.inUse }"
                          class="mach9"          
                          :name="pc9.name" :tag="pc9.tag" :id="pc9.id" :timerInfo="timerInfo" >  </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc10.completed, warning: pc10.warning, inUse: pc10.inUse }"
                          class="mach10"
                          :name="pc10.name" :tag="pc10.tag" :id="pc10.id" :timerInfo="timerInfo"  >  </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc11.completed, warning: pc11.warning, inUse: pc11.inUse }"
                          class="mach11"
                          :name="pc11.name" :tag="pc11.tag" :id="pc11.id" :timerInfo="timerInfo"  >  </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc12.completed, warning: pc12.warning, inUse: pc12.inUse }"
                          class="mach12"
                          :name="pc12.name" :tag="pc12.tag" :id="pc12.id" :timerInfo="timerInfo"  >  </machine>
                <!--  -->
                
              
                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc13.completed, warning: pc13.warning, inUse: pc13.inUse }"
                          class="mach13" 
                          :name="pc13.name" :tag="pc13.tag" :id="pc13.id" :timerInfo="timerInfo"  > </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc14.completed, warning: pc14.warning, inUse: pc14.inUse }"
                          class="mach14" 
                          :name="pc14.name" :tag="pc14.tag" :id="pc14.id" :timerInfo="timerInfo"  > </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc15.completed, warning: pc15.warning, inUse: pc15.inUse }"
                          class="mach15" 
                          :name="pc15.name" :tag="pc15.tag" :id="pc15.id" :timerInfo="timerInfo"  > </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc16.completed, warning: pc16.warning, inUse: pc16.inUse }"
                          class="mach16" 
                          :name="pc16.name" :tag="pc16.tag" :id="pc16.id" :timerInfo="timerInfo"  > </machine>

                <machine  @mBus="mBus" @passStatus="setStatusStyle" :passTimeOnly="passTimeOnly"
                          :class="{completed: pc17.completed, warning: pc17.warning, inUse: pc17.inUse }"
                          class="mach17" 
                          :name="pc17.name" :tag="pc17.tag" :id="pc17.id" :timerInfo="timerInfo"  > </machine>

                <!-- <machine v-for="(machine, index) in pcs" :key="machine" @mBus="mBus" @passStatus="setStatusStyle" 
                          :class="{completed: machine.completed, warning: machine.warning, inUse: machine.inUse, machine: machine }"
                          :name="appendPc(1).name" :tag="'pc'+index.tag" :id="'pc'+index" :timerInfo="timerInfo"  > </machine> -->

              </div>
            <!-- </transition>             -->
           

          </div>
    

          <div class="pages" v-if="windowWidth > 768 && landscape" >

            <div class="viewPage pc-wrapper" :class="{ machineHandler: isConsole }" v-if="landscape === true" >

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc1.completed, warning: pc1.warning, inUse: pc1.inUse }"
                        class="mach1"
                        :name="pc1.name" :tag="pc1.tag" :id="pc1.id" :timerInfo="timerInfo"  > </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc2.completed, warning: pc2.warning, inUse: pc2.inUse }"
                        class="mach2"
                        :name="pc2.name" :tag="pc2.tag" :id="pc2.id" :timerInfo="timerInfo" > </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc3.completed, warning: pc3.warning, inUse: pc3.inUse }"
                        class="mach3"
                        :name="pc3.name" :tag="pc3.tag" :id="pc3.id" :timerInfo="timerInfo" > </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc4.completed, warning: pc4.warning, inUse: pc4.inUse }"
                        class="mach4"
                        :name="pc4.name" :tag="pc4.tag" :id="pc4.id" :timerInfo="timerInfo" > </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc5.completed, warning: pc5.warning, inUse: pc5.inUse }"
                        class="mach5"
                        :name="pc5.name" :tag="pc5.tag" :id="pc5.id" :timerInfo="timerInfo" >  </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc6.completed, warning: pc6.warning, inUse: pc6.inUse }"
                        class="mach6"
                        :name="pc6.name" :tag="pc6.tag" :id="pc6.id" :timerInfo="timerInfo" >  </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc7.completed, warning: pc7.warning, inUse: pc7.inUse }"
                        class="mach7"
                        :name="pc7.name" :tag="pc7.tag" :id="pc7.id" :timerInfo="timerInfo" >  </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc8.completed, warning: pc8.warning, inUse: pc8.inUse }"
                        class="mach8"
                        :name="pc8.name" :tag="pc8.tag" :id="pc8.id" :timerInfo="timerInfo" >  </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc9.completed, warning: pc9.warning, inUse: pc9.inUse }"
                        class="mach9"
                        :name="pc9.name" :tag="pc9.tag" :id="pc9.id" :timerInfo="timerInfo" >  </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc10.completed, warning: pc10.warning, inUse: pc10.inUse }"
                        class="mach10"
                        :name="pc10.name" :tag="pc10.tag" :id="pc10.id" :timerInfo="timerInfo"  >  </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc11.completed, warning: pc11.warning, inUse: pc11.inUse }"
                        class="mach11"
                        :name="pc11.name" :tag="pc11.tag" :id="pc11.id" :timerInfo="timerInfo"  >  </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc12.completed, warning: pc12.warning, inUse: pc12.inUse }"
                        class="mach12"
                        :name="pc12.name" :tag="pc12.tag" :id="pc12.id" :timerInfo="timerInfo"  >  </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc16.completed, warning: pc16.warning, inUse: pc16.inUse }"
                        class="mach16"
                        :name="pc16.name" :tag="pc16.tag" :id="pc16.id" :timerInfo="timerInfo"  > </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc17.completed, warning: pc17.warning, inUse: pc17.inUse }"
                        class="mach17"
                        :name="pc17.name" :tag="pc17.tag" :id="pc17.id" :timerInfo="timerInfo"  > </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc13.completed, warning: pc13.warning, inUse: pc13.inUse }"
                        class="mach13"
                        :name="pc13.name" :tag="pc13.tag" :id="pc13.id" :timerInfo="timerInfo"  > </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc14.completed, warning: pc14.warning, inUse: pc14.inUse }"
                        class="mach14"
                        :name="pc14.name" :tag="pc14.tag" :id="pc14.id" :timerInfo="timerInfo"  > </machine>

              <machine  @mBus="mBus" @passStatus="setStatusStyle" 
                        :class="{completed: pc15.completed, warning: pc15.warning, inUse: pc15.inUse }"
                        class="mach15"
                        :name="pc15.name" :tag="pc15.tag" :id="pc15.id" :timerInfo="timerInfo"  > </machine>
          
            </div>
          </div>

      
      </div>

    </div>

    <modal  v-if="nameModal"
            @close="nameModal = false, view='main'" 
            :styles="{nModal:nameModal}"> 

    
      <!-- EXSISTING CUSTOMER -->
      <customersearch 
        v-if="view==='main'" 
        :localCustomers="localCustomers"
        @searchBus="searchBus" @passView="passView">
      
      </customersearch>        

      <!-- NEW CUSTOMER -->
      <div v-if="view === 'newCustomer'" id="newCustomer">
        <h1> Player Info </h1>

        <input name="Name" type="text" v-model="tempName" maxlength="20" placeholder="Name" v-validate="'min:3'" v-focus>
        <span v-show="errors.has('Name')" >{{errors.first('Name') }}</span>

        <input name="Nickname/Tag" type="text" v-model="tempTagName" maxlength="20" placeholder="Nickname/Tag" v-validate="'min:3'"  >
        <span v-show="errors.has('Nickname/Tag')">{{errors.first('Nickname/Tag') }}</span>

        <input name="Email" type="text" v-model="tempEmail" maxlength="30" placeholder="Email" v-validate="'email'"  >
        <span v-show="errors.has('Email')">{{errors.first('Email') }}</span>

        <input name="Phone" type="text" maxlength="11" onkeypress='return event.charCode >= 48 && event.charCode <= 57' v-model="tempPhone" pattern="[0-9]*"  placeholder="Phone" v-validate="'digits:11'"  >
        <span v-show="errors.has('Phone')">{{errors.first('Phone') }}</span>
        

        <button slot="buttons" class="gButton submit" v-show="errors.count() === 0 && valDone === true "
                @click="playerSubmit('male')" > Male </button>

        <button slot="buttons" class="gButton submit" v-show="errors.count() === 0 && valDone === true"
                @click="playerSubmit('female')"> Female </button>       
      </div>

    </modal>

    <modal v-if="vMainModal"   
      @close="vMainModal = false" 
      :styles="{vMainModal:vMainModal}"> 

      <div class="wrap" v-if="vMainModalView === 'completed'">
        <h3>Session finshsed</h3>
        <h3>{{vTemp.name}} {{vTemp.tag}}</h3>
        <h5>Click ok to save session</h5>

        <button class="main" @click="vMainModal=false " >Ok</button>
        <!-- <button class="main" @click="vMainModal=false" >Remove Player</button> -->
        
      </div>

    </modal>


  <!-- v-show="errors.count() === 0 && tempName.length >= 3 && tempTagName.length >= 5" -->

  </div>

</template>

<script lang="babel">


  export default {
    name: 'mainView',
    props: ['localCustomers', 'restoreData', 'timerInfo', 'cachedTimers'],

    data() {
      return {  
        self: this,
        tab: "pc",
        selectedTimer: null,
        timerOpen: false,

        nameModal: false,
        tempName: null,
        tempTagName: null,
        tempGender: null,
        tempEmail: null,
        tempPhone: null,
        
        tagExsists: false,
          
        vMainModal: false,
        vMainModalView: 'completed',
        vTemp: {
          name: ' ',
          tag: ' ',
        },
  
        sessionTime: null,
        globalID: null,
        customersAPI: 'http://jquinandy.co.uk:3000/api/customers',

        placeholder: " ",
        newCustomer: null,

        dbOpen: false,
        
        view: 'main',
        loading: false,
        
        fuse: null,
        options: {},
        search: '',        
        result: null,
        valDone: false,

        windowWidth: 0,
        windowHeight: 0,
        landscape: false,

        isConsole: false,
        passTimeOnly: {},

        api: 'http://jquinandy.co.uk:3000/api/',

        pcs: [
          'pc1',
          'pc2',
          'pc3',
          'pc4',
          'pc5',
          'pc6',
          'pc7',
          'pc8',
          'pc9',
          'pc10'
        ],

        // -- PCS 
          pc1: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc1',
            tag: null,

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc2: {
            open: false,
            timeLeft: this.placeholder,
            name: null,      
            id: 'pc2',
            tag: null,    

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,       
          },

          pc3: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc3',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc4: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc4',
            tag: null, 

            status: null,        
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc5: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc5',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc6: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc6',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc7: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc7',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc8: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc8',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc9: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc9',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc10: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc10',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc11: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc11',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc12: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc12',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          //---------------------

          pc13: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc13',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc14: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc14',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc15: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc15',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          //---------------------

          pc16: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc16',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

          pc17: {
            open: false,
            timeLeft: this.placeholder,
            name: null,
            id: 'pc17',
            tag: null, 

            status: null,
            warning: false,
            inUse: false,
            free: false,
            completed: false,
          },

      
        
      }
    },

    mounted() {
      this.$nextTick(function() {
        window.addEventListener('resize', this.getWindowWidth);
        window.addEventListener('resize', this.getWindowHeight);

        //Init
        this.getWindowWidth()
        this.getWindowHeight()
      })

      // console.log(this.timerInfo)

    },

    watch: {
      restoreData: function() {
        // console.log(this.restoreData);

        var self = this;

        setTimeout(function(){ 
          // self.restorePlayers(); 
        }, 100);
          
      },

      timerInfo: function() {
        var status  = this.timerInfo[0],
            pc      = this.timerInfo[1],
            time    = this.timerInfo[2],
            name    = this.timerInfo[3],
            tag     = this.timerInfo[4];
            

        if (status === 'resumed') {
          this[pc].name = name
          this[pc].tag = tag
          // this.setAtrib(name, tag, null, null)
        }

        if (this.timerInfo[1] === 'timer stopped') {
          // console.log(this.timerInfo[0])
          this.$emit('cachedTimers', [this.timerInfo[0], 'stopped'])
        }
        
      },

      cachedTimers() {

        // this.updateTimer
        
      },

      tempPhone: function() {
        if (this.tempPhone.length >= 11) {
          console.log(this.tempPhone.length);
          this.valDone = true;
        } 
        else {
          this.valDone = false
        };
      }



    },

    computed: {

      updateTimer(){
        for (var i=1;i<=17;i++) {
          var pc = 'pc' + i
          // console.log(this.cachedTimers[pc].name)

          this[pc].name = this.cachedTimers[pc].name
          this[pc].tag = this.cachedTimers[pc].tag
          

          // console.log(pc)
        }
      }

    },

    methods: {
      //----------------------------------------------------=|Buses|=-|
        
        timerPass(bus) {
        
          this.$emit('timersBus', bus);

        },

        dbPass(value){


          this.$emit('dbBus', value)

          if (value[0] === 'clearMachine') {
            if (value[0] === 'completedSession') this.$emit('dbBus', value);
          } 

                   
          if (value[0] === 'clearTimer') {
            this.clearPlayer(value[1],value[2]);
          }

          if (value[0] === 'finishTime') {
            this.$emit('dbBus', value);
            // this.clearPlayer(value[1],true);
          }    
          
          
          if (value[0] === 'clearPlayer')   {
            this.clearPlayer(value[1],value[2]);
            console.log(value)
            // this.timerInfo = bus[1]
              // console.log(this.timerInfo)

            // console.log(value[1]+' '+value[2])
   
          }
          
          // if (value[0] === 'extendSession') this.$emit('restoreBus', value);
          // if (value[0] === 'cacheTimer')    this.$emit('restoreBus', value);
          
        },

        mBus(value){
          
          var 
            source = value.split(' ')[0],
            id = value.split(' ')[1];

          if (source === 'open') {
            this.timerHandler(id);
          }

        },
    
        searchBus(value) {
          // console.log(value)
          this.setAtrib(value[0],value[1],value[2], false);
          this.view = 'main';
        },

        restorePlayers() {

          var self = this;

          // console.log(this.restoreData)
        
          this.restoreData.forEach(function(el) {

            setTimeout(function(){ 
          

            var thispc = el.pc;

            // console.log(self[thispc])
            
            self[thispc].name = el.name;
            self[thispc].tag = el.tag;
            self[thispc].timeLeft = el.timeLeft;
            
            if (self[thispc].timeLeft[0] === 'completed') {
              self[thispc].completed = true;
            } 

            }, 500);
            
          });

        },

        passView(value) {
          this.view = value
        },

        tabSwitcher(tab) {
          this.tab = tab
          // console.log(this.tab)

          if (tab === 'console') this.isConsole = true
          else this.isConsole = false
        },


        appendPc(index) {
          // console.log('pc'+index)
          return 'pc'+(index+1)
        },


        

      //----------------------------------------------------=|Timers|=-|

        
        
        timerHandler(timer){

          for(var i=0;i<17;i++) {
            if(timer === 'pc' + (i+1)) {

              var pc = 'pc' + (i+1);
              this.selectedTimer = timer;

              if(this[pc].name === null) {
                  this.nameModal = true;
              } else {
                this.timerOpen = true;
                this[pc].open = true;
              }

            }
          }
        },

        closeTimerHandler(value){

          // console.log('passed to close: ' + value)

          if (value[0] === 'openSModal') {
            this.sModalView = value[1];
            this.sModal = true;  
          } 

          else if (value[0] === 'reset') {          
            // this.passOp = 'reset';
          } 
          
          else {          

            var value1 = value.split(" ")[0],
                value2 = value.split(" ")[1];

            this.timerOpen = false;
            this.selectedTimer = null;

            for(var i=0;i<17;i++) {
              if(value1 === 'pc' + (i+1)) {

                this[value1].open = false;

              }
            }
          }
        },

        updateTime(value) {
          
          var machineName = value.split(" ")[0],
              timeValue = "";          

          if(value.split(" ")[2] === undefined) timeValue = value.split(" ")[1] + 's';
          else timeValue = value.split(" ")[1] + ' ' + value.split(" ")[2];
    
          if      (machineName === 'PS1') machineName = machineName.replace('PS1', 'PC13');
          else if (machineName === 'PS2') machineName = machineName.replace('PS2', 'PC14');
          else if (machineName === 'PS3') machineName = machineName.replace('PS3', 'PC15');
          else if (machineName === 'XB1') machineName = machineName.replace('XB1', 'PC16');
          else if (machineName === 'XB2') machineName = machineName.replace('XB2', 'PC17');

          for(var i=0;i<17; i++) {

            if(machineName === 'PC' + (i+1) ) {

              var pc = 'pc' + (i+1);

              this[pc].timeLeft = timeValue;

            }
          }

        },

        setStatusStyle(value) {


          if (value[0] === "completed") {

            this.$emit('dbBus', ['get'])
            
            this.vTemp.name = value[1];
            this.vTemp.tag = value[2];

            this.vMainModalView = "completed",
            this.vMainModal = true;

          
          } else {

            // console.log(value)

            var current = value.split(" ")[1];

            if      (current === 'ps1') current = current.replace('ps1', 'pc13');
            else if (current === 'ps2') current = current.replace('ps2', 'pc14');
            else if (current === 'ps3') current = current.replace('ps3', 'pc15');
            else if (current === 'xb1') current = current.replace('xb1', 'pc16');
            else if (current === 'xb2') current = current.replace('xb2', 'pc17');
            

            for(var i=0;i<17; i++) {

              this[current].status = value.split(" ")[0];
              
              var pc = 'pc' + (i+1);

              if( current === pc ){

                if (this[pc].status === 'inUse' ) {
                  this[pc].inUse     = true;
                  this[pc].free      = false;
                  this[pc].warning   = false;
                  this[pc].completed = false;
                }

                if (this[pc].status === 'free' ) {
                  this[pc].inUse     = false;
                  this[pc].free      = true;
                  this[pc].warning   = false;
                  this[pc].completed = false;               
                }

                if (this[pc].status === 'warning' ) {
                  this[pc].inUse     = false;
                  this[pc].free      = false;
                  this[pc].warning   = true;
                  this[pc].completed = false;
                }

                if (this[pc].status === 'completed' ) {
                  this[pc].inUse     = false;
                  this[pc].free      = false;
                  this[pc].warning   = false;
                  this[pc].completed = true;
                }

              }
            }

          }
        },

        clearPlayer(id, newPlayer){

          for(var i=0;i<17;i++) {
            if(id === 'pc' + (i+1)) {

              if(newPlayer) {
                this[id].name = null;  
                this[id].tag = null;                  
                this[id].timeLeft = null;
                this.timerOpen = false;  

              } else {
                this[id].timeLeft = null;
                console.log('workgin')
                this.passTimeOnly = {
                  id:   id,
                  key:  'clearTimer',
                  time: null
                }  
                // console.log(this.passTimeOnly)      
              }
              

            }
          }

          this.self.$emit('dbBus', ['DBremoveMachine', id]);    
          this.self.$emit('dbBus', ['DBremovePlayer', id]);


        },

        setAtrib(name, tag, gender, email, phone, newCustomer) {

          name = this.fuc(name);
          tag = this.fuc(tag);
          gender= this.fuc(gender);
          email= this.fuc(email);

          // this.getId();

          this.nameModal = false;    
              
          for(var i=0;i<17; i++) {

            var pc = 'pc' + (i+1);

            if(this.selectedTimer === pc) {
              
              this[pc].name = name;
              this[pc].tag = tag;
            
              this[pc].open = true;
              this.timerOpen = true;

              if (newCustomer === true) {
                this.$emit('dbBus', ['new', name, tag, gender, email, phone]);
              }
                    
            }
          }
        },

      //----------------------------------------------------=|Helpers|=-|

        fuc(value) {
          if (typeof value !== 'string') return 
          else return value.charAt(0).toUpperCase() + value.substring(1);
        },

        playerSubmit(gender) {
          console.log('working')
          this.setAtrib(this.tempName, this.tempTagName, gender, this.tempEmail, this.tempPhone, true);
          this.view = 'main';

          this.$emit('dbBus', ['submitPlayer', {"name": this.tempName, "tag": this.tempTagName, "gender": gender}])
        },

        getWindowWidth(event) {
          this.windowWidth = document.documentElement.clientWidth;
          if (this.windowWidth > this.windowHeight && this.windowWidth > 767) this.landscape = true
          else this.landscape = false
        },

        getWindowHeight(event) {
          this.windowHeight = document.documentElement.clientHeight;
          if (this.windowWidth > this.windowHeight && this.windowWidth > 767) this.landscape = true
          else this.landscape = false
        },


    
    },

    beforeDestroy() {
      window.removeEventListener('resize', this.getWindowWidth);
      window.removeEventListener('resize', this.getWindowHeight);
    }


  //========end

  }


</script>



<style scoped lang="sass">
  @import "../sass/lib.sass"

  body

    // .machineHandler
    //   transform: translateX(-100vw)

    .outer-wrapper

      .error-message
        display: none
        width: 50vw

      .page-wrapper
        margin: 0 auto
        font-size: 1rem
        padding: 0 2% 
        height: 100vh

        h1
          margin: 2% 0 7% 0

        .nav
          display: flex
          flex-wrap: wrap
          justify-content: space-between
          align-items: center
          font-size: 1.4rem
          
          .logoWrap
            width: 100%
            display: flex
            align-items: center
            .logo
              width: 65%
              height: 100%
              margin: 2% auto 1% auto

          .tabHandler
            width: 100%
            display: flex
            justify-content: center
            align-items: center

            .tab
              width: 50%
              text-align: center   
              // padding: 4% 0 6% 0 
              font-family: 'VT323', monospace

            .selectedTab
              text-decoration: underline
              text-decoration-color: #A1C515

        //
        .view-wrapper
          overflow-x: hidden
          // overflow-y: hidden
          
          .viewPage
            display: grid
            grid-template-columns: 16.5% 16.5% 16.5% .001em 16.5% 16.5% 16.5%
            grid-template-rows: 1fr 1fr 1fr 1fr
            min-height: 0
            min-width: 0
            padding: .5% 0
            
            grid-gap: 1rem
            justify-items: center
            align-items: center
            margin: 0 1%
            width: 169vw
            transition: ease .3s
            
            

          .console-wrapper
            // display: none
            position: absolute
            top: 23.4vh
            // left: 100vw
            height: 35.5vh
            width: 92%
            grid-gap: 1.1rem
            

            .machine
              height: 100%
              overflow: hidden
              min-width: 0

              


          .pc-wrapper
            height: 70vh
            // transform: translateX(-100vh)

            .machine
              width: 99%
              height: 99%
        
              p
                padding: 10%

            
          .dead
            background-color: transparent
            border: 1px solid transparent


          .mach1
            grid-column: 1 / 2
            grid-row: 1 / 2

          .mach2
            grid-column: 2 / 3
            grid-row: 1 / 2 

          .mach3
            grid-column: 3 / 3
            grid-row: 1 / 2

          .mach4
            grid-column: 1 / 2
            grid-row: 2 / 3

          .mach5
            grid-column: 2 / 3
            grid-row: 2 / 3

          .mach6
            grid-column: 3 / 3
            grid-row: 2 / 3

          .mach7
            grid-column: 1 / 2
            grid-row: 3 / 4

          .mach8
            grid-column: 2 / 3
            grid-row: 3 / 4

          .mach9
            grid-column: 3 / 3
            grid-row: 3 / 4

          .mach10
            grid-column: 1 / 2
            grid-row: 4 / 4

          .mach11
            grid-column: 2 / 3
            grid-row: 4 / 4

          .mach12
            grid-column: 3 / 3
            grid-row: 4 / 4

          
          .mach13
            grid-column: 5 / 6
            grid-row: 1 / 2

          .mach14
            grid-column: 6 / 7
            grid-row: 1 / 2

          .mach15
            grid-column: 7 / 8
            grid-row: 1 / 2

          .mach16
            grid-column: 5 / 6
            grid-row: 2 / 3

          .mach17
            grid-column: 6 / 7
            grid-row: 2 / 3
          //

        //
      +normal
        .page-wrapper
          font-size: 1.3rem
        
          .view-wrapper
            .viewPage
              margin: 0 2%
            

            .pc-wrapper
              height: 75vh

      +tablet
        .page-wrapper
          font-size: 1.7rem

          .view-wrapper

            .viewPage
              height: 70vh
              grid-gap: 2rem

          .nav
            .logo
              margin: 0 auto
              width: 60%

            .tabHandler
              font-size: 2.8rem

              .tab
                // padding: .5em 0 .7em 0
                margin-bottom: 5%
            
      +bigger
        font-size: 4rem
        
        .page-wrapper
          font-size: 4rem

          .view-wrapper
          
            .viewPage
              grid-gap: 2rem     

          .nav
            font-size: 4.4rem
      
      +tabletL
        margin: 0 4%

        .page-wrapper
          font-size: 1.6rem
          
          .nav
            margin: 1em 0 1.5em 0

            .logoWrap
              
              .logo
                width: 50%
                margin: 0 auto
                margin-top: .1em

            .tabHandler
              width: 60%


          .view-wrapper
            display: flex
            justify-content: space-around
            width: 100%
            

            .viewPage
              grid-template-columns: 1fr .02fr 1fr 1fr 1fr 1fr .02fr 1fr 
              grid-template-rows: 1fr 1fr 1fr
              
              grid-gap: 1em
              margin: 0

            .pc-wrapper
              width: 88vw
              height: 70vh !important
              
              max-width: 1000px


            .mach1
              grid-column: 3 / 4
              grid-row: 1 / 2
            
            .mach2 
              grid-column: 3 / 4
              grid-row: 2 / 3
            
            .mach3 
              grid-column: 3 / 4
              grid-row: 3 / 3

            .mach4 
              grid-column: 4 / 5
              grid-row: 1 / 2

            .mach5 
              grid-column: 4 / 5
              grid-row: 2 / 3

            .mach6 
              grid-column: 4 / 5
              grid-row: 3 / 3

            .mach7 
              grid-column: 5 / 6
              grid-row: 1 / 2

            .mach8 
              grid-column: 5 / 6
              grid-row: 2 / 3

            .mach9 
              grid-column: 5 / 6
              grid-row: 3 / 3

            .mach10 
              grid-column: 6 / 7
              grid-row: 1 / 2

            .mach11 
              grid-column: 6 / 7
              grid-row: 2 / 3

            .mach12 
              grid-column: 6 / 7
              grid-row: 3 / 3

            // Consoles

            .mach13 
              grid-column: 8 / 8
              grid-row: 1 / 2

            .mach14 
              grid-column: 8 / 8
              grid-row: 2 / 3

            .mach15 
              grid-column: 8 / 8
              grid-row: 3 / 3

            .mach16 
              grid-column: 1 / 2
              grid-row: 1 / 2

            .mach17 
              grid-column: 1 / 2
              grid-row: 3 / 3

      +laptop
        .page-wrapper
          height: 90vh
          padding: 0
          .nav
            .logoWrap
              .logo
                width: 35%

          .view-wrapper
            .pc-wrapper
              height: 70vh
              .machine
                height: 90%

          
      +mobileL
        .page-wrapper
          display: none
        .error-message
          display: flex
          align-items: center
          justify-content: center
          height: 100vh
          
      //

    
  // hot fix queries 
  .nModal
    width: 100vw
    height: 100vh
    
    .modal-container
      h3
        margin: 10% 8% 8% 8%

      input
        margin: 2% 0
        padding: 0 2% 0 0
        text-align: center

        display: flex
        align-items: center


      span
        font-size: .5em
        width: 80%
        color: red
      
      .customerList
        width: 100%
        border: 1px solid white
        display: flex
        padding: 0 0 0 5%
        .listItems
          font-size: 4rem
          padding: 1% 0

        ul
          width: 100%
          list-style: none

          li
            width: 100%
            font-size: 50px

      .exsistingCustomer
  
        margin: 20% 0 10% 0
        background-color: transparent
        font-size: 2rem
        // border: 3px solid white
        



      #newCustomer
        width: 100%
        margin: 0 auto
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center

        button
          width: 40%
          height: 10vh
          margin: 8% 4% 0 4%

          background-color: transparent
          border: 3px solid white
          color: white

          font-size: 4rem

        input
          height: 10vh
          font-size: 1.5rem
          
          border: 3px solid whitec

        .submit 
          font-size: 1.5rem
          color: green 
          border-color: green

        +bigger
          input
            font-size: 4.5rem

          .submit
            font-size: 4rem

        +tablet
          input
            font-size: 3rem

          .submit
            font-size: 4rem

      #main
        width: 100%
        margin: 0 auto
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        
        button
          width: 80%
          height: 100%
          height: 10vh
          margin: 10% 10% 15% 10%

          background-color: transparent
          border: 3px solid white
          color: white

          // font-size: 4rem

          &:first-child
            margin: 30% 0 0 0

      //

      +bigger
        font-size: 4rem

        #newCustomer
          font-size: 4.5rem

          input
            font-size: 4.5rem

          .submit
            font-size: 4rem

        span
          font-size: 3rem
          
      +tablet
        h3
          font-size: 4rem

        #newCustomer
          input
            font-size: 3rem

            &::placeholder
              font-size: 2rem
              

          .submit
            font-size: 4rem

    .machineSpeed
      animation-duration: .3s

  

  .moveTabs
    transform: translateX(-103vw)
 
  +normal
    .moveTabs
      transform: translateX(-100.5vw)

  +large
    .moveTabs
      transform: translateX(-101.5vw)

  +larger
    .moveTabs
      transform: translateX(-100.5vw)

  +tablet
    .moveTabs
      transform: translateX(-100.5vw)


</style>