<template>

  <transition name="modal">
    
      <div class="modal-mask" :class="styles">
        <div class="modal-container">

          <button class="close" @click="$emit('close')">✖</button>
          
          <slot></slot>

          <div class="btnWrapper">
            <slot name="buttons"></slot>            
          </div>

        </div>
      </div>

   
  </transition>

</template>


<script type="text/x-template" id="modal-template">
  export default {
    props: ['modalOpen', 'styles'],
    data: function() {
      return {
        showModal: this.modalOpen
      }
    }
  }    
</script>

<style lang="sass">
  @import "../sass/lib.sass"

  $main-col: white
  $grad-1: #A0C81A
  $grad-2: rgb(146, 146, 0)
  $grad: linear-gradient(to bottom, $grad-1 , $grad-2);


  .modal-mask
    position: fixed
    z-index: 9998
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.6)
    display: flex
    align-items: center
    justify-content: center
    transition: opacity .3s ease


    .modal-container
      width: 90%
      max-width: 600px
      height: 100%
      max-height: 600px
      
      padding: 0 .5em
      margin: 0px auto
      background-color: #fff
      border-radius: 2px
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33)
      transition: all .3s ease
      color: $main-col
      background: $grad
      

      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center

      position: relative

      .close
        position: absolute
        top: 0
        right: 0
        margin: 0 2%
        background-color: transparent
        border: none
        color: white
        font-size: 2rem

    +bigger
      .close
        // font-size: 5rem

    +tablet
      .close
        // font-size: 4rem

    input
      text-align: center
      border: .1rem solid $main-col
      color: $main-col
      width: 80%
      background: transparent

      &::placeholder
        font-size: 1rem
        text-align: right
        margin: 0 2vw 0 0
        color: #0B1727

      +bigger
        &::placeholder
          font-size: 3rem
        
  .modalInputs
    width: 100%
    display: flex
    justify-content: space-around

    margin: 5%


  .modalLabels
    width: 100%
    display: flex
    justify-content: space-around

    p 
      margin: 1%
      font-size: 3rem


  .btnWrapper
    width: 100%
    display: flex
    justify-content: space-around
    margin: 5%


    button
      width: 40%
      height: 6rem
      
      border: none
      color: white
      overflow: hidden
      margin: 1rem
      padding: 0
      text-transform: uppercase
      font-size: 2rem

      background-color: transparent
      border: 2px solid $main-col
      color: $main-col




  .modal-enter, .modal-leave-active
    opacity: 0

  .modal-enter .modal-container, .modal-leave-active .modal-container
    -webkit-transform: scale(1.1)
    transform: scale(1.1)




</style>