<template>

  <transition
    enter-active-class="animated fadeIn " 
    leave-active-class="animated slideOutUp fast" 
    mode="out-in">

    <div class="innerWrap" >

      <div class="navBar">
        <div class="id-wrap flex-center">
          <p class="id-label">{{ mId }}</p>
        </div>

        <div class="btnReturn flex-center" @click="returnButton">✖</div>
        
      </div>

      <div class="name-wrap">
        <div class="name">{{ name | firstToUpper }}</div>
        <div class="tag">{{ tag | firstToUpper }}</div> 
      </div>

      <!-- <div class="labelWrapper">
        <div class="timeLabel">Time Left</div>
      </div> -->

      <div class="pannel-wrap flex-center">
        
        <div class="timer-active" v-if="isRunning">

          <div class="screen-wrap flex-center">
            <div class="timeRemaining" v-show="timerOpen">
              <div class="hours" >{{ hours }}</div>
              <div class="minutes" >{{ mins }}</div>
              <div class="seconds" > {{ secs }}</div>
            </div>
          </div>

          <div class="activeButtonWrap btnWrap">
            <button class="full main " @click="pauseTimer" v-if="!isPaused" > Pause </button>
            <button class="full main " @click="resumeTimer" v-if="isPaused"> Resume </button>
            <button class="half main " @click="vModal = true, vModalView = 'clearTimer'"> Clear </button>
            <button class="half main " @click="vModal = true, vModalView = 'finTimer'"> Finish </button>  
          </div>    
        </div>

        <div class="timer-stopped" v-if="!isRunning">
          <div class="labelWrapper">
            <div class="setTimerlabel">Set Timer</div>
          </div>

          <div class="stoppedButtonWrap btnWrap">        
            <button class=" third main" @click="setTimer(00,30,00)"> 1/2 </button>
            <button class=" third main" @click="setTimer(01,00,00)"> 1   </button>
            <button class=" third main" @click="setTimer(03,00,00)"> 3   </button>
            <button class=" half main"  @click="mCustom.open = true"> Custom </button>
            <button class=" half main"  @click="clearPlayer"> New </button>      
          </div>
        </div>
  
       

      </div>

  
      <modal v-if="mEx.open" :modalOpen="mEx.open" @close="mEx.open = false"  :styles="{exModal:true}" >
        <h1>Extend Timer</h1>
        <div class="modalInputs">
          <input type="text" maxlength="2" v-model="mEx.hours" 
                  @keydown="limitToNumbers($event)"
                  @keyup.13="keyHander('extend', 'enter')"  
                  @keyup.27="keyHander('extend', 'escape')" 
                  >
          <input type="text" maxlength="2" v-model="mEx.mins" v-focus  
                  @keydown="limitToNumbers($event)" 
                  @keyup.13="keyHander('extend', 'enter')"  
                  @keyup.27="keyHander('extend', 'escape')" >        
        </div>

        <div class="modalLabels">
          <p>Hours</p>
          <p>Mins</p>       
        </div>

        <button class="main btn_yes" @click="extendTimer()"> Submit </button>
      </modal>

      <modal  class="modal" 
              v-if="mCustom.open" 
              :modalOpen="mCustom.open" :styles="{customModal:mCustom.open}"
              @close="mCustom.open = false" >
        
        <h1>Custom Timer</h1>
        <div class="modalInputs">
          <input type="text" maxlength="2" v-model="mCustom.hours" 
                  @keydown="limitToNumbers($event)"
                  @keyup.13="keyHander('custom', 'enter')"  
                  @keyup.27="keyHander('custom', 'escape')" >

          <input type="text" maxlength="2" v-model="mCustom.mins" v-focus  
                  @keydown="limitToNumbers($event)" 
                  @keyup.13="keyHander('custom', 'enter')"  
                  @keyup.27="keyHander('custom', 'escape')" >        
        </div>

        <div class="modalLabels">
          <p>Hours</p>
          <p>Mins</p>       
        </div>

        <button slot="buttons" class="btn_yes" @click="customTimer()"> Submit </button>

      </modal>

      <modal  v-if="vModal"  
        @close="vModal = false" 
        :styles="{vModal:vModal}"> 

        <div class="wrap">
      
          <div class="clearTimer modalPage" v-if="vModalView === 'clearTimer'">
            <h1>Are you sure?</h1>
            <h3>This will delete the session!</h3>
            
            <div class="btnWrap" >
              <button class="main btn_yes" @click="clearTimer(true), vModal=false" >Yes</button>
              <button class="main btn_no" @click="vModal=false" >No</button>
            </div>
            
          </div>

          <div class="finishTimer modalPage" v-if="vModalView === 'finTimer'">
            <h1>Are you sure?</h1>
            <h3>This will complete the session!</h3>
            
            <div class="btnWrap" >
              <button class="main btn_yes" @click="finishTimer(), vModal=false" >Yes</button>
              <button class="main btn_no" @click="vModal=false" >No</button>
            </div>
          </div>

        </div>       

      </modal>


    </div>

  </transition>


</template>




<script lang="babel">
  //======================================================================================================================================
  //=======================================================================================================================================
  // Standards ftw!
    var supportsVibrate = "vibrate" in navigator;
    
    import { bus } from '../main'

    export default {
    name: 'timer',
      props: ['mId', 'currentTimer', 'timerOpen', 'name', 'tag', 'timerInfo' ],

      data() {
        return {
          secs  : 0,
          mins  : 0,
          hours : 0,
          secsEl : null,
          minsEl : null,
          hoursEl : null,
          currentTime: [],

          cacheTimer: [],

          vModal: false,
          vModalView: '',
          
          isRunning : false,
          isPaused: false,
          inter: null,
          cachedTime: null,
          resumeTime: null,

          newPlayer: false,
          wanring: false,

          counter: 0,
          newtime: [],

          bus: bus,

          id: this.convertId(this.mId.split(' ')[1].toLowerCase()),

          times : {
            oneHour: '1',
            threeHour: '3',
            half: '30'
          },

          mEx: {
            open: false,
            hours: 0,
            mins: 0,
            time: 0
          },

          mCustom: {
            open: false,
            hours: 0,
            mins: 0
          },
          
        }
      },

      mounted() {
        this.counter = 0;
      },

      watch: {

        timerInfo: function() {

          var id = this.timerInfo[0],
              key = this.timerInfo[1],
              value = this.timerInfo[2];
              // name = this.timerInfo[3],
              // tag = this.timerInfo[4];

          if (id === this.id && key === 'time'){

            this.hours = value.split(':')[0],
            this.mins = value.split(':')[1],
            this.secs = value.split(':')[2];
            // this.name = name;
            // this.tag = tag;
            
            // console.log(this.hours, this.mins, this.secs)

            this.isRunning = true

            // console.log(id)

            this.statusPush();

          }

          if (id === this.id && key === 'status'){

            // console.log(value)
            // this.statusPush();

          }
            
        },


      }, 

      methods: {

        //----------------------------------------------------=|Buses|=-|
   

          keyHander(source, key){

            if (key === 'escape' ) {
              if(source === 'custom') this.mCustom.open = false
              if(source === 'extend') this.mEx.open = false           
            }
            if (key === 'enter' ){
              if(source === 'custom') this.customTimer();
              if(source === 'extend') this.extendTimer();
            } 
            if (key === 'backspace') {
              if(source === 'timer') this.returnButton();
            }
          },

          returnButton(){
            this.$emit('closeTimer', this.currentTimer);
          },


        //

        //----------------------------------------------------=|Timer Controls|=-|
        

          startTimer(hours, mins, secs) {

            if (hours === undefined) {
              hours = this.hours;
              mins = this.mins;
              secs = this.secs;
            }

            if (secs === undefined) {
              secs = '00'
            }
            
            // Append 0 

              if (hours.length < 2) hours = '0' + hours;
              if (mins.length < 2) mins = '0' + mins;
              if (secs.length < 2) secs = '0' + secs;

            //

            this.currentTime = [hours, mins , secs];


            // Start Timer 
            this.$emit('timerPass', ['timer', this.id, 'start', this.currentTime, this.name, this.tag]);
            this.$emit('timerPass', ['pushMessage', 'start', this.name, this.tag, this.id, this.currentTime]);

            
            this.isRunning = true;

            // Create Session 
            this.$emit('dbPass', ['session', this.id, this.name, this.tag, this.currentTime ]);
            
            // Add to machines 
            this.$emit('dbPass', ['machine', this.id, this.name, this.tag, this.currentTime ]);
            
            
          },

          pauseTimer() {
            this.isPaused = true;
            this.$emit('timerPass', ['timer', this.id, 'pause', null, this.name, this.tag]);
            // this.$emit('timerPass', ['pushMessage', 'pause', this.name, this.tag, this.id, this.currentTime]);           
            console.log(this.id);
            
          },

          resumeTimer() {
            this.isPaused = false;
            this.$emit('timerPass', ['timer', this.id, 'resume', null, this.name, this.tag]);
                              
          },

          finishTimer() {

            this.$emit('dbPass', ['finishTime', this.id, this.name, this.tag, [this.hours, this.mins, Number(this.secs)] ]);
            this.clearTimer();

            
          },

          clearTimer(del) {
            if (del === undefined) del = false;      

            this.isRunning = false;

            this.$emit('timerPass', ['timer', this.id, 'stop', null, this.name, this.tag]);            
            
            this.$emit('dbPass', ['clearTimer', this.id, false] ); 
            this.$emit('passStatus', 'free' + ' ' + this.currentTimer);

            if (del) this.$emit('dbPass', ['deleteSession', this.name, this.tag]);            
 
          },

          clearPlayer() {
            this.clearTimer()
            this.newPlayer = true;
            this.newPlayer = null;
            this.$emit('dbPass', ['clearPlayer', this.currentTimer, true] );            
            this.$emit('passStatus', 'free' + ' ' + this.currentTimer);
            this.$emit('timerPass', ['timer', this.id, 'stop', null, this.name, this.tag]);            
            
            this.returnButton();
                  
          },


        //
        
        //----------------------------------------------------=|Timer Set Funcs|=-|
          
          setTimerUpdate(hours, mins, secs) {

            if (secs === undefined) secs = 0;         


            if (hours==0 && mins===0 && secs===0) {
              this.hours = 0;
              this.mins = 0;
              this.secs = 1;
              this.startTimer();
              this.isRunning = true;
            } else {
              this.hours = hours;
              this.mins = mins;
              this.secs = secs;
              this.startTimer();
              this.isRunning = true;
            }       

          },

          setTimer(hours, mins, secs, push) {
            if (push === undefined) push = false;
            if (secs === undefined) secs = '00';      

            var time = [hours, mins, secs];
            
            this.startTimer(time[0], time[1], time[2]); 
            this.returnButton();           


            
          },

          customTimer() {
            this.mCustom.open = false;

            if (this.mCustom.mins > 60) {
                this.mCustom.hours = this.mCustom.hours + 1; 
                this.mCustom.mins = this.mCustom.mins - 60;
            }

            this.setTimer(this.mCustom.hours, this.mCustom.mins, '00', true )

            this.isRunning = true;

          },

        //

        //----------------------------------------------------=|Timer Main|=-|
        
          time() {

            // MAIN FUCNTION

            this.secs--;
            
            if (this.secs === -1){
              this.secs = 59;
              this.mins--;
            }

            if (this.mins === -1) {
              this.mins = 59;
              this.hours--;
            }

            this.statusPush();

            this.restoreTimerPush();

          },

          statusPush() {
            
            var cachedTimer = this.id;

            if (this.hours === '00') this.hours = 0;
            if (this.mins.charAt(0) === '0') this.mins = Number(this.mins.slice(1));
            
            
            if (this.mins > 10) {
              this.$emit('passStatus', 'inUse' + ' ' + cachedTimer)
              this.warning = false;                    
            }

            if (this.hours === 0 && this.mins == 10 && this.secs == 59) {
              this.$emit('timerPass', ['pushMessage', 'warning', this.name, this.tag, this.id, this.currentTime]);                  
            }            

            //WARNING LESS THEN 10:59 left         
            if (this.hours === 0 && this.mins <= 10 && this.secs > 1) {
              this.warning = true;
              this.$emit('passStatus', 'warning' + ' ' + cachedTimer); 
              
            }

            // COMPLETEED
            // console.log(this.hours, this.mins, this.secs )
            if (this.hours === 0 && this.mins === 0 && this.secs === '01') {
 
              this.isRunning = false;
              
              // this.warning = false;          

              // navigator.vibrate([100, 200, 300]);
              this.$emit('dbPass', ['machine', this.id, this.name, this.tag, 'completed']);              
              this.$emit('passStatus', ['completed', this.name, this.tag]);
              this.$emit('timerPass', ['pushMessage', 'completed', this.name, this.tag, this.id, this.currentTime]);    
              
              
              
              
            }


          },


        //

        //----------------------------------------------------=|Timer Helpers|=-|
        
          convertId(input) {
            if      (input === 'ps1') return input.replace('ps1', 'pc13');
            else if (input === 'ps2') return input.replace('ps2', 'pc14');
            else if (input === 'ps3') return input.replace('ps3', 'pc15');
            else if (input === 'xb1') return input.replace('xb1', 'pc16');
            else if (input === 'xb2') return input.replace('xb2', 'pc17');
            else return input;
          },

          limitToNumbers(e) {
            // console.log(e)

            var key   = e.keyCode ? e.keyCode : e.which;

            if (!( [8, 9, 13, 27, 46, 110, 190].indexOf(key) !== -1 ||
                (key == 65 && ( e.ctrlKey || e.metaKey  ) ) || 
                (key >= 35 && key <= 40) ||
                (key >= 48 && key <= 57 && !(e.shiftKey || e.altKey)) ||
                (key >= 96 && key <= 105)
              )) e.preventDefault();
          },

          debounce (fn, delay) {
            var timeoutID = null
            return function () {
              clearTimeout(timeoutID)
              var args = arguments
              var that = this
              timeoutID = setTimeout(function () {
                fn.apply(that, args)
              }, delay)
            }
          }

        
        //

      },

      filters: {

        firstToUpper(value) {
          if(value) return value.charAt(0).toUpperCase() + value.slice(1);
        },

      }

  //-|>   
    }

</script>




<style scoped lang="sass">
  @import "../sass/lib.sass"

  .flex-center
    display: flex
    justify-content: center
    align-items: center
    
  .innerWrap
    width: 100%
    max-width: 800px
    height: 100vh
    font-size: 1.5rem
    margin: 0 auto

    .modal-mask
      .modal-container
        height: 50vh
        width: 90vw

  

  .navBar
    height: 12%
    width: 100%
    
    display: flex
    justify-content: space-between

    .id-wrap
      width: 30%
      // font-size: 3rem
      margin-left: 1rem


    .btnReturn
      width: 25%
      // font-size: 200%
      margin: -1rem 0 0 0

  .name-wrap
    width: 100%
    height: 19%  
    display: flex
    flex-wrap: wrap
    justify-content: center

    div
      flex: 0 0 100%
      text-align: center
      // margin: 0 0 4% 0

    .name 
      font-size: 3.5rem
      // margin: 1rem 

    +bigger
      .name
        font-size: 10rem
 
  .pannel-wrap
    height: 68%
    width: 100%
    margin: 0 0 0 0

    .labelWrapper
      width: 100%
      display: flex
      align-items: flex-end
      justify-content: center
      // font-size: 80%

      .timeLabel
        margin: 20% 0 0 0

      .setTimerlabel
        margin: 3% 0 5% 0

    .timer-stopped
      width: 100%
      height: 100%
      display: flex
      flex-wrap: wrap
      justify-content: space-around

      button
        width: 30%
        height: 38%
        font-size: 1.5rem

      +bigger
        button
          font-size: 4rem

      .half
        width: 47%


    .timer-active
      width: 100%
      height: 100%
      display: flex
      flex-wrap: wrap
      justify-content: space-around

      button
        // width: 30%
        height: 12vh
        font-size: 1.5rem

      .screen-wrap
        height: 55%
        width: 100%

        .timeRemaining
          width: 100%
          height: 100%

          display: flex
          justify-content: space-around
          align-items: center
          text-align: center
          font-size: 2rem

        +normal
          .timeRemaining
            font-size: 3rem
        

      .button
        width: 47%
        height: 40%
        margin: 3% 0 0 0
        font-size: 1.5rem

      +bigger
        button
          font-size: 4rem

      p
        margin: 0
      
      .clear
        width: 97%


    .btnWrap
      width: 100%
      display: flex
      flex-wrap: wrap
      justify-content: space-around

      button
        font-size: 2rem

    .stoppedButtonWrap
      

  //
    
  .modal-mask
    .modal-container
      // height: 50vh 
      
      .wrap
        .modalPage
          height: 80vh
          display: flex
          flex-wrap: wrap
          align-items: center

          h3, h1
            width: 100%



          .btnWrap
            width: 100%

            button
              width: 40vw
              font-size: 110%

  .customModal
    height: 100vh

  // .modal-container
  //   height: 50vh !important
    
  input
    font-size: 2em
    margin: .2em
    padding: .5em .5em 
    

  .btnWrapper
    button
      font-size: 1em
      width: 50%
      height: 15vh 

  .modalLabels
    margin: -1em .7em .7em .7em

    // padding: 1em .5em 
          

  +larger
    .modal-container

  //
  .fast
    animation-duration: .2s
  //
  
  
</style>